{% extends 'base.html.twig' %}

{% block title %}Cards{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Cards with label</h1>
</div>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Created by</th>
                <th scope="col">Created at</th>
                <th scope="col">Label</th>
                <th scope="col">Add Comment</th>
                <th scope="col">Assign User</th
            </tr>
        </thead>
        <tbody>
            {% for cardLabel in cardLabels %}
            <tr>
                <td>{{ cardLabel.card.id }}</td>
                <td>{{ cardLabel.card.title }}</td>
                <td>{{ cardLabel.card.description }}</td>
                <td>{{ cardLabel.card.lane.title }}</td>
                <td>{{ cardLabel.card.createdBy.username }}</td>
                <td>{{ cardLabel.card.createdAt|date("d.m.Y", "Europe/Berlin") }}</td>
                <td>{{ cardLabel.label.name }}</td>
                <td><a href="{{ path('app_card_comment_new', {cardId: cardLabel.card.id}) }}" class="btn btn-link p-0">Add Comment</a></td>
                <td><a href="{{ path('app_card_assign_user', {cardId: cardLabel.card.id}) }}" class="btn btn-link p-0">Assign User</a></td>
            </tr>
            {% else %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}