{% extends 'base.html.twig' %}

{% block title %}Cards{% endblock %}
{% block headline %}Cards{% endblock %}
{% block button %}
<a href="{{ path('app_card_new') }}" class="btn btn-sm btn-primary glow-hover-primary mb-0 me-4">New Card</a>
{% endblock %}
{% block body %}
<hr>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Label</th>
                <th scope="col">Created by</th>
                <th scope="col">Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.title }}</td>
                <td>{{ card.description }}</td>
                <td>{{ card.lane.title }}</td>
                {% for cardLabel in card.cardLabels %}
                    <td><span class="badge text-bg-info w-100" style="background-color: {{ cardLabel.label.color }}!important;">{{ cardLabel.label.name }}</span></td>
                    {% else %}
                    <td>-</td>
                {% endfor %}
                <td>{{ card.createdBy.username }}</td>
                <td>{{ card.createdAt|date("d.m.Y", "Europe/Berlin") }}</td>
            </tr>
            {% else %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}