{% extends 'base.html.twig' %}

{% block title %}New Board{% endblock %}
{% block headline %}New Board{% endblock %}
{% block body %}

{{ form_start(lane_form) }}
    {{ form_widget(lane_form) }}
    <button class="btn btn-success">Lane hinzufügen</button>
{{ form_end(lane_form) }}

<h3>Aktuelle Lanes:</h3>
<ul>
    {% for lane in lanes %}
        <li>{{ lane.title }} (Position: {{ lane.position }})</li>
    {% endfor %}
</ul>
<h3>Labels</h3>
{{ form_start(label_form) }}
    {{ form_widget(label_form) }}
    <button class="btn btn-info">Label hinzufügen</button>
{{ form_end(label_form) }}

<ul>
    {% for label in labels %}
        <li>
            <span style="background-color: {{ label.color }}; color: white; padding: 3px 8px; border-radius: 4px;">
                {{ label.name }}
            </span>
        </li>
    {% endfor %}
</ul>
<a href="{{ path('app_board_wizard', {'step': 3}) }}" class="btn btn-primary mt-3">Fertigstellen</a>
{% endblock %}
