{% extends 'base.html.twig' %}

{% block title %}New board{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New board</h1>
</div>
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.owner) }}
    <button class="btn btn-success">Speichern</button>
{{ form_end(form) }}
{% endblock %}