{% extends 'base.html.twig' %}

{% block title %}Labels{% endblock %}
{% block headline %}Labels{% endblock %}
{% block body %}
<div class="d-flex justify-content-end flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <a href="{{ path('app_label_new') }}" class="btn btn-primary mb-3 ms-2">New Label</a>
              <a href="{{ path('app_card_label_assign') }}" class="btn btn-primary mb-3">New Card Label</a>
</div>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Board</th>
                <th scope="col">Badge</th>
            </tr>
        </thead>
        <tbody>
            {% for label in labels %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.board.name }}</td>
                <td><span class="badge text-bg-info" style="background-color: {{ label.color }}!important;">{{ label.color }}</span></td>
            </tr>
            {% else %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}