{% extends 'base.html.twig' %}

{% block title %}New lane{% endblock %}
{% block headline %}New lane{% endblock %}
{% block body %}
<hr>>
{{ form_start(form) }}
    {{ form_row(form.board) }}
    {{ form_row(form.title) }}
    {{ form_row(form.position) }}
    <button class="btn btn-success">Speichern</button>
{{ form_end(form) }}
{% endblock %}